*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    height: 100dvh;
    display: grid;
    grid-template-columns: 60px 1fr 2fr;
}

nav{
    background-color: #F7F5F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
}

.container-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.container-nav > img{
    border-radius: 100%;
    padding: 7px;
    width: 40px;
}

.container-nav > img:hover{
    background-color: #D8F8D2;
}

section{
    height: 100%;
    background-color: #FFFFFF;
}

main{
    height: 100%;
    background-color: chocolate;
}