*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

body{
    height: 100dvh;
    display: grid;
    grid-template-columns: 60px 1fr 2fr;
}

nav{
    background-color: #F7F5F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px;
}

.container-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.container-nav > img{
    border-radius: 100%;
    padding: 7px;
    width: 40px;
}

.container-nav > img:hover{
    background-color: #D8F8D2;
}

section{
    height: 100%;
    background-color: #FFFFFF;
}

.container-topo-conversas{
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    gap: 5px;
}

.container-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo > h1{
    font-size: x-large;
    color: #64C292;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.atalho-itens>img{
    padding: 7px;
}

.atalho-itens>img:hover{
    border-radius: 100%;
    background-color: #D8F8D2;
}

.atalho-itens{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.container-input{
    width: 100%;
}

.container-filtros{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
}

.container-topo-conversas{
    background-color: #FFFFFF;
}

input{
    width: 100%;
    padding: 12px 10px;
    border-radius: 20px;
}

main{
    height: 100%;
    background-color: chocolate;
}